# Welcome to WiT's Intro to Python workshop!

Today we're going to go over some Python basics using Google Colab. You don't need to download anything to run this code, and we encourage you to edit the code in this tutorial so you can better learn how it works.

##Hello World

The first code every programmer starts with is called a Hello World statement. Run the code below to print your Hello World:

In [4]:
print("Hello, world!")

Hello, world!

Note that `print` in this context refers to putting text on the screen, not using the kind of printer we know. Try changing the text in this statement to print different text.

##Variables

In [11]:
x = 1
age = 20
name = "Jane"

print(x)
print(age)
print(name)

1
20
Jane

Variables are used to store data (numbers, words, etc.). A value is assigned to the variable using the equal sign (=).

If you've programmed in other languages, you'll notice that Python is different from other languages in that you don't need to say what kind of data a variable is storing. That information is declared when the value has been assigned.

##Data Types

###Strings

In [10]:
first_name = "John"
last_name = 'Doe'

print(first_name)
print(last_name)

John
Doe

A string is a sequence of characters enclosed in either 'single quotes' or "double quotes". You can even use """triple quotes""" if your string will span over multiple lines. Make your own string variable of your name and print it to your screen.

###Booleans

In [12]:
here = True

Booleans represent either True or False (for example, you being here = True). Python can also determine the boolean value of a statement. See below:

In [13]:
print(2>1) #will print True
print(2<1) #will print False

True
False

##Integers

In [6]:
x = -5
y = int(5.4)

print(x)
print(y)

-5
5

Integer variables only hold positive or negative whole numbers. You can turn a decimal value into an integer by "casting" it with the integer data type "int()" as shown above.

###Decimals

In [7]:
pi = 3.14
num = float("20")

print(pi)
print(num)

3.14
20.0

The "float" (floating point real values) data type represents real numbers with a decimal point. If assigned to a whole number, the float variable will print with a ".0" appended on the end.

##Comments
Comments in your code help you and other people who read your code to understand what's going on. You may write a comment to explain what a certain section does, to divide your code in pieces, or to make your code readable. Comments are ignored by the program and used for your own benefit!

A single line comment is done using a # symbol followed by what you want to type. 

Try it below and change what the comments says! Notice how it won't print anything because it is ignored by the program!

In [ ]:
# this is a comment! Say whatever you want!

##User Input
User input allows for your program to interact with the user and collect information from them. This is done using variables and the input function. 

The input function collects information from the user, you must store that information in a variable to use it later. Try the code below! You can change the prompt given in the input statement too!

In [14]:
name = input("Enter your first name: ")
print("Your name is: " + name)

Enter your first name: Alison
Your name is: Alison

##Boolean Operators
Boolean operators refer to operators that will result in a True or False value. 

Use a double equal sign, ==, to check if two values are equal. This will return True if they are, False if not. Other comparison operators include 


* Greater than: >
* Greater than or equal to: >=
* Less than: <
* Less than or equal to: <=
* Not equal to: !=

Run the examples blow, predict what they will return to see if you understand the operators.

In [15]:
7 == 7

True

In [16]:
5 < 6

True

In [17]:
5 > 6

False

In [18]:
6 != 7

True

In [ ]:
#try writing and testing your own statements!

You can also use the not operator, to get the opposite value printed.

In [19]:
not 7 == 7

False

##If Statements

### What are if Statements?

Boolean operators can be used in ```if``` statements to help decide what to run.

In [20]:
if 3 > -2:
  print("Hello world!")

Hello world!

Here, the program evaluates the expression ```3 > -2``` and will execute the print statement only if the test expression is True. Hence, "Hello world!" will be printed.

If the expression is False, the print statement is not executed.

In Python, the body of the if statement is indicated by the indentation. The body starts with an indentation and the first unindented line marks the end.

Python interprets non-zero values as True. None and 0 are interpreted as False.

In [21]:
if 1:
  print("Pizza")

Pizza

In [22]:
if None:
  print("Pizza")
else:
  print("Tacos")

Tacos

###if... else Statements

In the above example, we used an ```if... else``` statement to evaluate the expression ```None```. The ```if... else``` statement is similar to an ```if``` statement in that it executes the body of ```if``` only when the test condition is True. However, if the condition is False, the body of ```else``` is executed.

Another example:

In [23]:
num = 5

if num >= 0:
  print("num is positive")
else:
  print("num is negative")

num is positive

### if... elif... else Statements

We can further expand of ```if... else``` statements and evaluate multiple expression in one statement. 
The keyword ```elif```, shorthand for else if, allows you to test another condition if the previous blocks fail.

In [24]:
a = 54
b = 18

if a > b:
  print(a)
elif a < b:
  print(b)
else:
  0

54

You can add as many ```elif``` expressions as you like!

In [25]:
age = 20

if 1 < age < 12:
  print("child")
elif 13 < age < 17:
  print("teen")
elif 18 < age < 25:
  print("young adult")
else:
  print("adult")

young adult

Feel free to change the number stored in `age`. What happens when `age` is less than 0? Why does this happen? What could you do to fix it?

###Nested if Statements

Another way to evaluate multiple conditions is by having if statements within another if statement. 
Any number of these statements can be nested inside one another. Indentation is the only way to figure out the level of nesting. They can get confusing, so they must be avoided unless necessary.

In [26]:
num = 5
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Positive number

##Lists

###What are Lists and How to Create Them?

Lists are used to store multiple items in a single variable.
Each element in a list is separated by a comma and the list is identified by surrounding square brackets.

In [27]:
fruits = ["apple", "banana", "cherry"]    #list of strings
nothing = []                              #list of no elements
print(fruits)
print(nothing)

['apple', 'banana', 'cherry']
[]

Lists can be of any type!

In [28]:
list1 = ["apple", "banana", "cherry"]     #strings
list2 = [1, 5, 7, 9, 3]                   #integers
list3 = [True, False, False]              #boolean
list4 = ["abc", 34, True, 40, "male"]     #all types
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
[True, False, False]
['abc', 34, True, 40, 'male']

###Accessing List Elements

List items can be accessed by its index number with the first element being the 0th index, the second element 1st index, etc...

We can use the index operator [] to access an item in a list.

Trying to access indexes other than these will raise an ```IndexError```. The index must be an integer. We can't use float or other types, this will result in TypeError.

In [29]:
print(fruits[0])   #print first element with index 0
print(fruits[2])   #print last element with index 2
print(fruits[3])   #will give an error because the index is out of bounds

apple
cherry

IndexError: ignored

Python also allows negative indexing. This means we can access elements starting from the last element at -1 and so forth

In [30]:
print(fruits[-3])   #print first element with index 0
print(fruits[-1])   #print last element with index 2
print(fruits[-4])   #will give an error because the index is out of bounds

apple
cherry

IndexError: ignored

To determine how many items a list has, we can use the len() function.

In [31]:
length = len(fruits)
print(length)

3

###Adding and Changing List Elements
We can easily change elements in lists by accessing the element's index.

In [32]:
fruits[1] = "papaya"
print(fruits)

['apple', 'papaya', 'cherry']

We can also add an element to a list using the append() function.

In [33]:
fruits.append("mango")
print(fruits)

['apple', 'papaya', 'cherry', 'mango']

To add multiple elements to the list you can either use the extend() method list as an argument or the ```+``` operator to combine two lists.

In [34]:
moreFruits = ["oranges", "watermelon", "kiwi"]
fruits.extend(moreFruits)        #use extend() method to combine two lists
print(fruits)

vegetables = ["carrots", "squash", "broccoli"]
print(fruits + vegetables)       #add two lists together

['apple', 'papaya', 'cherry', 'mango', 'oranges', 'watermelon', 'kiwi']
['apple', 'papaya', 'cherry', 'mango', 'oranges', 'watermelon', 'kiwi', 'carrots', 'squash', 'broccoli']

###Remove List Elements
We can delete one or more items from a list using the keyword del.

In [35]:
del vegetables[2]    #delete the last element
print(vegetables)

['carrots', 'squash']

#Putting it all Together

Now that you've learned about the basics of Python, let's put it all together to make a small program of your own. 

Your program is going to ask for 3 test scores via input, output the average of the scores, then output the letter grade of the average score. (A: 90-100, B: 80-89, C: 70-79, D: 60-69, F: 0-59)

When you run your completed program, it should look something like this:
(note that 92, 84, and 65 are inputs here)

```
Test score 1: 92
Test score 2: 84
Test score 3: 65
Average 80.33333333333333
Grade: B
```
Hints:
- Although you don't need to use a list to solve this problem, you may want to use one to store the three scores
- Make sure you cast input to `int` before calculating the average
- You can calculate the letter grade using an `if/elif` block
- There are many ways to write this program, and there is no one right answer

In [ ]:
# Your code here!